<%- include('../adminLayouts/header.ejs') %>

<section>
    <div class="container">
      <div class="d-flex justify-content-between">
          <h4 style="color: #0e382e;"><b>Category Details</b></h4>
          <button data-toggle="modal" data-target="#newcategory" type="button" class="btn add-new" style="background-color: #0e382e;color: white;border-radius: 6px;"><i class="fa fa-plus"></i> Add New Category</button>
      </div>
        <table class="table mt-2">
            <thead style="border-bottom: solid #0e382e;border-top: solid #0e382e ">
              <tr style="color: #0e382e;font-weight: bolder;">
                <th scope="col">No</th>
                <th scope="col">Name of the Category</th>
                <th scope="col">Offer</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                <% let i=1%>
                <% categories.forEach(category=>{%>
                   
                    <tr >
                        <td style="color: #0e382e"><%= i++ %></td>
                        <td style="color: #0e382e"><%= category.name %></td>
                        <td style="color: #0e382e">
                          <% if (category.categoryOffer && category.categoryOffer > 0) { %>
                            <%= category.categoryOffer %>% 
                          <% } else { %>
                            No offer
                          <% } %>
                        </td>
                        <%if(category.status===0){%>
                          <td class="text-success">Listed</td>
                        <%}else{%>
                          <td class="text-danger">Unlisted</td>
                        <%}%>                            
                        <td style="color: #0e382e">
                          <button data-toggle="modal" data-target="#edit<%=category._id%>"><i class="fa-solid fa-pen" style="color: #0e382e;"></i></button>
                          <%if(category.status===0){%>
                            <button data-toggle="modal" data-target="#delete<%= category._id %>"><i class="fa-solid fa-ban" style="color: hsl(0, 75%, 46%);"></i></button>
                          <%}else{%>
                            <button data-toggle="modal" data-target="#delete<%= category._id %>"><i class="fa-solid fa-ban" style="color: hsl(129, 75%, 46%);"></i></button>
                          <%}%>
                          
                        </td>
                        <div class="modal" id="delete<%= category._id %>" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-body">
                                <%if(category.status===0){%>
                                  <p class="text-danger text-center">Are sure to unlist the category?.</p>
                                <%}else{%>
                                  <p class="text-danger text-center">Are sure to list the category?.</p>
                                <%}%>                                    
                              </div>
                              <div class="modal-footer justify-content-center">
                                <%if(category.status===0){%>
                                  <a href="/admin/listCategory/<%= category._id %>"><button type="button" class="btn btn-danger">Unlist category</button></a>
                                <%}else{%>
                                  <a href="/admin/listCategory/<%= category._id %>"><button type="button" class="btn btn-success">List category</button></a>
                                <%}%> 
                                                                    
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </tr>
                      <div class="modal" id="edit<%= category._id %>" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                        <div class="modal-dialog" role="document">
                          <div class="modal-content"  style="width: 100%px;">
                            <div class="modal-body" >
                              <div class="container mt-1" >
                                <div class="container mt-4">
                                  <div class="row">
                                    <div class="col-md-12">
                                      <h2 class="text-center">Edit Category</h2>
                                      <form action="/admin/editCategory/<%=category._id%>" method="post">
                                        <label for="">Name</label>
                                        <input type="text" name="name" class="form-control" value="<%=category.name%>">
                                        <label for="">Offer</label>
                                        <input type="number" name="categoryOffer" class="form-control" value="<%=category.categoryOffer%>">
                                        <div class="text-center">
                                          <button type="submit" class="btn btn-primary btn-lg mt-3">Submit</button>
                                          <button type="button" class="btn btn-primary btn-lg mt-3" data-dismiss="modal">Close</button> 
                                        </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                <%})%>                           
            </tbody>
          </table>
          <div style="width: 100%; background-color: white; display: flex; justify-content: center; margin-top: 90px; height: 60px;">
            <nav aria-label="Page navigation example" style="padding: 10px; margin-bottom: 0px;">
                <ul class="pagination" >
                    <li class="page-item"><a class="page-link" href="#" style="color: black;">Previous</a></li>
                    <% for(let i = 1; i <=  totalPages; i++) { %>
                        <li class="page-item">
                            <a class="page-link" href="/admin/viewCategory?page=<%= i %>" style="color: black;"><%= i %></a>
                        </li>
                    <% } %>
                    <li class="page-item"><a class="page-link" href="#" style="color: black;">Next</a></li>
                </ul>
            </nav>
        </div>      
          <div class="modal" id="newcategory" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
            <div class="modal-dialog" role="document">
              <div class="modal-content"  style="width: 100%px;">
                <div class="modal-body" >
                  <div class="container mt-1" >
                    <div class="container mt-4">
                      <div class="row">
                        <div class="col-md-12">
                          <h2 class="text-center">Add new category</h2>
                          <form action="/admin/addCategory" method="post">
                            <label for="">Name</label>
                            <input type="text" name="name" class="form-control" placeholder="Name of the category">
                            <label for="" style="margin-top: 5px;">Offer (%)</label>
                            <input type="number" name="categoryOffer" class="form-control" placeholder="Offer of the category">
                            <div class="text-center">
                              <button type="submit" class="btn btn-primary btn-lg mt-3">Submit</button>
                              <button type="button" class="btn btn-primary btn-lg mt-3" data-dismiss="modal">Close</button> 
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
                        
    </div>
</section>

<%- include('../adminLayouts/actionResponse.ejs') %>             
<%- include('../adminLayouts/footer.ejs') %>