<%- include('../Layouts/header.ejs') %>
<style>
.untree_co-section {
    padding-top: 50px;
}
   /* Styling for modal */
  .modal1 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal1-content {
    background-color: #0e382e;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 3px solid white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px 0 white;
  }
</style>

<div class="untree_co-section">
    <div class="container" id="checkout" style="margin-top: 10px;">
     
        <div class="row">
        
          <div class="col-md-6 mb-5 mb-md-0">
            <div style="height: 48px; width: 633px; background-color: #0e382c;">
              <h6 style="color: white; padding: 15px; font-weight: bold; margin-left: 10px;">DELIVERY ADDRESS</h5>
            </div>
            <div class="p-1 border bg-white">
              <div class="card-body" id="addressDetailsBody">
                <div class="row text-center" style="color: #0e382c;font-weight: 900;" id="noAddress">
                  <h6>No Addresses found in your account!</h6>
                  <p>Add a delivery address.</p>
                  <hr>
                </div>
                <div class="row" id="addressContainer">
                  <%userData.address.forEach((address,index)=>{%>                  
                  <div class="row" id="editingAddress<%=index%>">
                    <div>
                      <input type="radio" onclick="selectAddress(this)" name="selectAddress" id="<%=index%>">
                    </div>
                    <div class="col-md-9">
                      <address class="text-black border">
                        <pre class="m-0 p-1 h6 font-weight-bold" ><strong><%=address.name%>  <%=address.mobile%></strong></pre>
                        <p class="p-1 m-0">
                        <%=address.house%>,<%=address.locality%>,
                        <%=address.city%>,<%=address.state%>,
                        <%=address.landmark%>,<%=address.pin%>
                        </p>                  
                      </address>
                    </div>
                    <div class="col-md-3 d-flex justify-content-end align-items-start">
                      <div>
                          <button type="button" class="btn btn-primary btn-sm" style="padding: 5px 10px;border-radius: 2px;margin: 0 5px 5px 0" onclick="showEditform(`<%= index %>`)" >Edit</button>                 
                      </div>
                      <div>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#delete<%=index%>" style="padding: 5px 10px;border-radius: 2px;margin: 0 5px 5px 0">Delete</button>
                        <div class="modal" id="delete<%=index%>" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-body">
                                <p class="text-danger text-center">Are you sure you want to delete this address?</p>                                   
                              </div>
                              <div class="modal-footer justify-content-center">                            
                                <form onsubmit="submitDelete(this)">
                                  <input type="hidden" value="<%=index%>" name="delete">
                                  <button type="submit" class="btn-danger" style="color: white;text-decoration: none;">Delete</button>
                                  <button type="button" class="btn-primary" data-dismiss="modal" >Cancel</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>                  
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="row">
                    <form  id="editAddressForm<%=index%>" class="d-none" onsubmit="submitEdit(this)">
                      <div class="row">
                        <div class="col-md-6">
                          <label for="c_diff_fname" class="text-black">Full name<span class="text-danger">*</span></label>
                          <input type="text" class="form-control" id="c_diff_fname" name="name" value="<%=address.name%>">
                        </div>
                        <div class="col-md-6">
                          <label for="c_diff_fname" class="text-black">Locality<span class="text-danger">*</span></label>
                          <input type="text" class="form-control" id="c_diff_fname" name="locality" min="4" max="15" required value="<%=address.locality%>">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label for="c_diff_fname" class="text-black">City<span class="text-danger">*</span></label>
                          <input type="text" class="form-control" id="c_diff_fname" name="city" required value="<%=address.city%>">
                        </div>
                        <div class="col-md-6">
                          <label for="c_diff_fname" class="text-black">House No/Name<span class="text-danger">*</span></label>
                          <input type="text" class="form-control" id="c_diff_fname" name="house" placeholder="Apartment, suite, unit etc." required value="<%=address.house%>">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label for="c_diff_fname" class="text-black">Land mark<span class="text-danger">*</span></label>
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Railway station, Petrol pump, etc." name="landmark" value="<%=address.landmark%>" required>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label for="c_diff_state_country" class="text-black">State<span class="text-danger">*</span></label>
                          <input type="text" class="form-control" id="c_diff_state_country" name="state" required value="<%=address.state%>">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label for="c_diff_postal_zip" class="text-black">Posta / Zip <span class="text-danger">*</span></label>
                          <input type="text" class="form-control" id="c_diff_postal_zip" name="pin" required value="<%=address.pin%>">
                        </div>
                        <div class="col-md-6">
                          <label for="c_diff_phone" class="text-black">Phone <span class="text-danger">*</span></label>
                          <input type="tel" pattern="[0-9]+" class="form-control" id="c_diff_phone" name="mobile" minlength="10" maxlength="10" required value="<%=address.mobile%>">
                        </div>
                      </div>
                      <input type="hidden" name="edit" value="<%=index%>">
                      <div class="row">
                        <div class="col-md-12">
                          <button type="submit" class="btn add-new m-2" style="background-color: #0e382e;color: white;border-radius: 6px;">Save changes</button>
                          <button type="button" class="btn add-new m-2" style="background-color: #0e382e;color: white;border-radius: 6px;" onclick="closeEditform(`<%= index %>`)">Cancel</button>
                        </div>
                      </div>
                      <hr>
                    </form>                                
                  </div>
                <%})%>                                               
                </div>              
                <div class="row">
                  <form class="d-none" id="newAddressForm">
                    <div class="row">
                      <div class="col-md-6">
                        <label for="c_diff_fname" class="text-black">Full name<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="c_diff_fname" name="name" required>
                      </div>
                      <div class="col-md-6">
                        <label for="c_diff_fname" class="text-black">Locality<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="c_diff_fname" name="locality" min="4" max="15" required>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label for="c_diff_fname" class="text-black">City<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="c_diff_fname" name="city" required>
                      </div>
                      <div class="col-md-6">
                        <label for="c_diff_fname" class="text-black">House No/Name<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="c_diff_fname" name="house" placeholder="Apartment, suite, unit etc." required>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label for="c_diff_fname" class="text-black">Land mark<span class="text-danger">*</span></label>
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Railway station, Petrol pump, etc." name="landmark" required>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label for="c_diff_state_country" class="text-black">State<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="c_diff_state_country" name="state" required>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label for="c_diff_postal_zip" class="text-black">Posta / Zip <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="c_diff_postal_zip" name="pin" required>
                      </div>
                      <div class="col-md-6">
                        <label for="c_diff_phone" class="text-black">Phone <span class="text-danger">*</span></label>
                        <input type="tel" pattern="[0-9]+" class="form-control" id="c_diff_phone" name="mobile" minlength="10" maxlength="10" required>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <button type="submit" class="btn add-new m-2" style="background-color: #0e382e;color: white;border-radius: 6px;">Save New Adress</button>
                        <button type="button" class="btn add-new m-2" style="background-color: #0e382e;color: white;border-radius: 6px;" >Cancel</button>
                      </div>
                    </div>
                  </form>                
                </div>
                <div class="row" >
                  <div class="col-md-12">
                    <button type="button" class="btn add-new mt-2 btn-sm" style="background-color: white; color: #0e382e; border-radius: 6px; margin-left: 390px;" id="addAddressButton"><i class="fa fa-plus"></i> Add New Address</button>
                  </div>                
                </div>              
              </div>
            </div>
          </div>
      </div>
                      
         <div class="row mb-5"  >
            <div class="col-md-11" style="width: 970px; margin-top: 30px;" >
                <div style="height: 48px; width: 947px; background-color: #083b3b;" >
                   <h5 style="color: white; padding: 10px; font-weight: bold; margin-left: 10px;">PAYMENT OPTIONS</h5>
                </div>
              <div class="p-3 p-lg-5 border bg-white">
               
                <h6 class="text-black"><strong>Select Payment method</strong></h6>
                <div class="border p-3 mb-3">

                  <h6 class="text-black"><strong>Your available balance</strong></h6>
                  <hr>
                  <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="1" id="walletUse" onchange="handleWalletCheckboxChange()">
                  <p>Use your <strong class="text-black">&#x20B9;<%=userData.wallet%> Wallet Balance</strong></p>
                  </div>
                  <hr>
                  <div class="d-inline" >
                   <h6 class="text-black mt-4" style="font-weight: bold;"> <i class="fa-solid fa-receipt fa-2xl" style="color: rgb(97, 181, 230); font-size: 1.3em; margin-right: 5px;"></i>Apply Coupons
                    <button data-toggle="modal" data-target="#coupen" type="button" class="btn add-new" style="background-color: white; color: #0e382e;border-radius: 6px; padding: 4px; margin-left: 550px; width: 100px;" id="couponButton"  >Apply</button></h6>
                  </div>
                  <hr>
                  <h6 class="text-black mt-4"><strong>Another payment method</strong></h6>
                  <hr>
                  
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" onclick="payment(this)" checked value="COD">
                        <label class="custom-control-label" for="defaultChecked">Cash on delivery</label>
                      </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios" onclick="payment(this)" value="onlinePayment">
                        <label class="custom-control-label" for="defaultUnchecked">Online Payment</label>
                    </div>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <form id="orderDetails">
                        <input type="hidden" name="selectedAddress">
                        <input type="hidden" name="walletUse" value=0>
                        <input type="hidden" name="paymentMethod" value="COD">
                        <input type="hidden" name="couponSave" value=0>
                        <input type="hidden" name="couponId">
                        <button type="submit" style="margin-left: 700px; margin-top: 5px; width: 200px; height: 50px; color: white; background-color: orangered; border: 0px;  font-size: 15px; font-weight: bold;" onclick="checkTotalAndPlaceOrder(`<%= cartData.totalPrice %>`)" >Place Order</button>
                    </form>
                </div>
              </div>
            </div>
            <div class="col-md-1">
                <div style=" border: 1px;  width: 350px; height: 300px; margin-left: 40px; margin-bottom: 100px;  background-color: white; margin-top: 30px;">
                <h5 style=" margin-left: 10px; font-weight: bold; color: grey; padding-top: 15px; ">PRICE DETAILS</h5>
                <hr>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <span class="" style="color: black; font-size: 15px; font-weight: bold;  margin-top: 20px; margin-left: 10px;">Price (<%= cartData.items.length %> items) </span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black" id="subTotal">₹<%= cartData.totalPrice %>.00</strong>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <span class="" style=" color: black; font-size: 15px; font-weight: bold;  margin-top: 20px; margin-left: 10px;">Delivery Charge</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black" id="delivery"><span style="text-decoration: line-through; color: gray; ">₹50.00</span> <span style="color: green; font-weight: bold; font-size: 15px ">Free</span></strong>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <span class="" style="color: black; font-size: 15px; font-weight: bold;  margin-top: 20px; margin-left: 10px;">Coupon amount</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black" id="couponAmount">Apply coupon</strong>
                  </div>
                </div>
                  <hr>
                  <div class="row mb-5">
                    <div class="col-md-6">
                      <span class="" style="color: rgb(14, 56, 44); font-size: 20px; font-weight: bold; margin-left: 10px;">Total Payable</span>
                    </div>
                    <div class="col-md-6 text-right">
                      <strong class="text-black" id="cartTotal" >₹<%= cartData.totalPrice %>.00</strong>
                    </div>
                  </div>
            </div>
            </div>
          </div>
           
          <div class="modal1" id="popupModal">
            <div class="modal1-content">
              <h6 id="popupMessage" style="color: white;"></h6>
              <button style="width: 25%; background-color: rgb(237, 235, 233); color: #0e382e; font-size: large; font-weight: 900; border: 3px solid white; margin: 10%;" onclick="hidePopup()">ok</button>
            </div>
          </div>
           </div>
    </div>
</div>        

<div class="modal " id="coupen" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="height: 70vh;overflow: auto;">
      <div class="modal-body" style="max-height: 100%;overflow-y: auto;">
        <h5 class="text-black ">Apply coupon</h5>
        <hr>
       <% couponData.forEach((coupon)=>{%>
        <div class="col-sm-12">
          <input type="checkbox" name="selectedCoupon" value="<%= coupon._id %>" id="coupon<%= coupon._id %>" class="coupon-checkbox" />
          <label for="coupon<%= coupon._id %>">
            <button style="border: 2px;  padding: 5px 10px; "><%= coupon.couponName %></button>
          </label>
        </div>
        <%let discount = cartData.totalPrice - (cartData.totalPrice*coupon.percentage)/100 %>
        <% discount = Math.round(discount); %>
        <% let savings = cartData.totalPrice - discount %>
        <% if (savings > coupon.maxDiscount){%>
           <%savings = coupon.maxDiscount%>
        <%}%>
        <p style="margin-left: 20px; margin-bottom: 1px;" class="text-black "><strong>Save &#8377;<%= savings %></strong></p>
        <p style="margin-left: 20px; margin-bottom: 1px;"><%= coupon.percentage %>% off upto &#8377;<%= coupon.maxDiscount %> on a minimum purchase of &#8377; <%= coupon.minAmount %>.</p>
        <p style="margin-left: 20px;">Expires on: <%= coupon.expireDate.toLocaleDateString('en-US', { day: 'numeric', month: 'long', year: 'numeric' }) %> </p>
        <hr>  
        <%})%>
    
        <div style="position: absolute; padding: 10px; margin-left: 180px;">
          <button type="submit" class="btn add-new" style="background-color:white; color:black; border-radius: 6px;" onmouseover="this.style.backgroundColor='#0e382e'; this.style.color='white';" onmouseout="this.style.backgroundColor='white'; this.style.color='black';" id="okButton" data-dismiss="modal">Ok</button>
          <button type="button" class="btn add-new" style="background-color:white; color:black; border-radius: 6px;" onmouseover="this.style.backgroundColor='red'; this.style.color='white';" onmouseout="this.style.backgroundColor='white'; this.style.color='black';" data-dismiss="modal" id="closeCouponBox">Close</button>
        </div>
      </div>
    </div>
  </div>
</div> 

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>

okButton.addEventListener('click', async function() {
    const selectedCoupon = document.querySelector('input[name="selectedCoupon"]:checked');
    const totalPrice = parseInt(cartTotal.textContent.replace('₹', '').trim());
    const subPrice = parseInt(subTotal.textContent.replace('₹', '').trim());

    if (selectedCoupon) {
        const savingsElement = selectedCoupon.parentElement.nextElementSibling.querySelector('strong');
        console.log("savingsElement", savingsElement);

        if (savingsElement) {
            const savings = parseInt(savingsElement.textContent.replace('Save ₹', '').trim());
            selectedCoupon.dataset.savings = savings;

            couponAmount.textContent = "₹" + savings;
            couponButton.innerHTML = "Edit";
            const discountedTotal = totalPrice - savings;
            cartTotal.textContent = "₹" + discountedTotal.toFixed(2);

            console.log("Total Price: ", totalPrice);
            console.log("Savings: ", savings);
            console.log("Discounted Total: ", discountedTotal);

            try {
                const response = await fetch(`/placeOrder`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        selectedCoupon: selectedCoupon.value,
                        savings: savings 
                    })
                });
                const responseData = await response.json();
                console.log("Server Response: ", responseData);
            } catch (error) {
                console.error("Error:", error);
            }
        } else {
            console.error("Could not find savings element.");
        }
    } else {
        couponAmount.textContent = "Apply coupon";
        couponButton.innerHTML = "Apply";
        cartTotal.textContent = "₹" + subPrice.toFixed(2);
    }
});


function showPopup(message) {
  var modal = document.getElementById("popupModal");
  var textArea = document.getElementById("popupMessage");
  textArea.innerHTML = message;
  modal.style.display = "block";
}

function hidePopup() {
  var modal = document.getElementById("popupModal");
  modal.style.display = "none";
}



function handleWalletCheckboxChange() {
   
    var walletCheckbox = document.getElementById('walletUse');
    var totalPriceElement = document.getElementById('cartTotal');
    var totalPrice = parseFloat(totalPriceElement.innerText.replace('₹', '').trim());
    
   
    var userWalletBalance = `<%= userData.wallet %>`;
    
   if (walletCheckbox.checked && userWalletBalance >= totalPrice) {
          totalPrice = 0;

    } else if (walletCheckbox.checked && userWalletBalance < totalPrice) {
      
        totalPrice -= userWalletBalance;
    }
    
    totalPriceElement.innerText = '₹' + totalPrice.toFixed(2);
}

function checkTotalAndPlaceOrder(totalPrice) {
  var paymentMethod = document.querySelector('input[name="defaultExampleRadios"]:checked').value;
  if (parseInt(totalPrice) > 1000 && paymentMethod === "COD") {
    showPopup('COD not allowed for orders above Rs 1000');
  } else {
    console.log("Order can be placed");
  }
}

/////////////////////////////////////////////////////////////////////////////////////

/*document.addEventListener("DOMContentLoaded", function() {
    var deliveryCharge = 0;
    var cartTotalElement = document.getElementById("cartTotal");
    var totalPrice = parseFloat("<%=cartData.totalPrice%>");

    if (totalPrice <= 1000) {
        deliveryCharge = 50;
        document.getElementById("delivery").innerText = "₹" + deliveryCharge + ".00";
    } else {
        document.getElementById("delivery").innerHTML = `<span style="text-decoration: line-through; color: gray; ">₹50.00</span> <span style="color: green; font-weight: bold; font-size: 15px ">Free</span>`; 
    }

    var totalPayable = totalPrice + deliveryCharge;
    cartTotalElement.innerText = "₹" + totalPayable.toFixed(2); 
});*/



    /////////////////////////////////profile-address-edit/////////////////////////////


    function validation(){
        const selectAddress=document.getElementsByName('selectAddress')
        var flag=0
        selectAddress.forEach(data=>{
            if(data.checked){
                flag=1
            }
        })
        if(flag==1){
            return true;
        }
        else{
          showPopup('Please select an address.');
            return false;
        }
    }
    function selectAddress(button){
        orderDetails.querySelector('[name="selectedAddress"]').value=button.id
    }


    const newAddressForm=document.getElementById('newAddressForm')
    const addAddressButton=document.getElementById('addAddressButton')
    addAddressButton.addEventListener('click',addNewAddress)
    function addNewAddress(){
      newAddressForm.classList.remove("d-none");
      addAddressButton.classList.add("d-none");
    }
    const newAdCancelButton=newAddressForm.querySelector('button[type="button"]')
    newAdCancelButton.addEventListener('click',cancelAddNewAd)
    function cancelAddNewAd(){
      newAddressForm.classList.add("d-none");
      addAddressButton.classList.remove("d-none");
    }
    const newAdSaveButton=newAddressForm.querySelector('button[type="submit"]')
    newAddressForm.addEventListener('submit',submitNewAddress)
    async function submitNewAddress(event){
      event.preventDefault()
      let formdata= new FormData(newAddressForm)
      try{
        const response= await fetch('/saveAddress',{
        method:"POST",
        body:formdata
      })
          if(response.ok){
            const result=await response.json()
            newAdSaveButton.innerText = 'Address Saved'
            newAdSaveButton.disabled=true                       
            setTimeout(()=>{
              newAdSaveButton.innerText = 'Save New Adress'
              newAdSaveButton.disabled=false
              newAddressForm.classList.add("d-none");
              addAddressButton.classList.remove("d-none");
              clearFormFields(newAddressForm) 
              renderAddresses(result.addresses)
            },500)
          }
        
      }catch(err){
        console.log(err.message)
      }

    }

    function checkAddress(length){
      const noAddress = document.getElementById('noAddress');
      if(length<1){
        console.log(length)
        noAddress.classList.remove("d-none")
      }else{
        noAddress.classList.add("d-none")
      }      
    }
    checkAddress("<%=userData.address.length%>")

    function clearFormFields(form) {
      const elements = Array.from(form.elements);
      elements.forEach((element)=>{
        if (element.tagName === 'INPUT') {
          element.value = '';
        }
      })
    }
    
    function renderAddresses(addresses){
      checkAddress(addresses.length)
      const addressContainer = document.getElementById('addressContainer');
      addressContainer.innerHTML = '';
      addresses.forEach((address, index) => {
        const addressElement1 = document.createElement('div');
        addressElement1.classList.add('row');
        addressElement1.id = `editingAddress${index}`
        addressElement1.innerHTML = 
            `<div>
              <input type="radio" onclick="selectAddress(this)" name="selectAddress" id="${index}">
            </div> 
            <div class="col-md-9">
                <address class="text-black border">
                <pre class="m-0 p-1 h6 font-weight-bold"><strong>${address.name} ${address.mobile}</strong></pre>
                <p class="p-1 m-0">
                  ${address.house}, ${address.locality}, ${address.city}, ${address.state}, ${address.landmark}, ${address.pin}
                </p>                   
                </address>
              </div>
              <div class="col-md-3 d-flex justify-content-end align-items-start">
                  <div>
                      <button type="button" class="btn btn-primary btn-sm" style="padding: 5px 10px;border-radius: 2px;margin: 0 5px 5px 0" onclick="showEditform(${index})" >Edit</button>                 
                  </div>
                  <div>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#delete${index}" style="padding: 5px 10px;border-radius: 2px;margin: 0 5px 5px 0">Delete</button>
                    <div class="modal" id="delete${index}" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-body">
                            <p class="text-danger text-center">Are you sure you want to delete this address?</p>                                   
                          </div>
                          <div class="modal-footer justify-content-center">                            
                            <form onsubmit="submitDelete(this)">
                              <input type="hidden" value="${index}" name="delete">
                              <button type="submit" class="btn-danger" style="color: white;text-decoration: none;">Delete</button>
                              <button type="button" class="btn-primary" data-dismiss="modal" >Cancel</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>                  
                  </div>
                </div>
              <hr> `
        addressContainer.appendChild(addressElement1);
        const addressElement2 = document.createElement('div');
        addressElement2.classList.add('row');
        addressElement2.innerHTML = `<div class="row">
                <form  id="editAddressForm${index}" class="d-none" onsubmit="submitEdit(this)">
                  <div class="row">
                    <div class="col-md-6">
                      <label for="c_diff_fname" class="text-black">Full name<span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="c_diff_fname" name="name" value="${address.name}">
                    </div>
                    <div class="col-md-6">
                      <label for="c_diff_fname" class="text-black">Locality<span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="c_diff_fname" name="locality" min="4" max="15" required value="${address.locality}">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label for="c_diff_fname" class="text-black">City<span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="c_diff_fname" name="city" required value="${address.city}">
                    </div>
                    <div class="col-md-6">
                      <label for="c_diff_fname" class="text-black">House No/Name<span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="c_diff_fname" name="house" placeholder="Apartment, suite, unit etc." required value="${address.house}">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label for="c_diff_fname" class="text-black">Land mark</label>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Railway station, Petrol pump, etc. (optional)" name="landmark" value="${address.landmark}">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="c_diff_state_country" class="text-black">State<span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="c_diff_state_country" name="state" required value="${address.state}">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label for="c_diff_postal_zip" class="text-black">Posta / Zip <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="c_diff_postal_zip" name="pin" required value="${address.pin}">
                    </div>
                    <div class="col-md-6">
                      <label for="c_diff_phone" class="text-black">Phone <span class="text-danger">*</span></label>
                      <input type="tel" pattern="[0-9]+" class="form-control" id="c_diff_phone" name="mobile" minlength="10" maxlength="10" required value="${address.mobile}">
                    </div>
                  </div>
                  <input type="hidden" name="edit" value="${index}">
                  <div class="row">
                    <div class="col-md-12">
                      <button type="submit" class="btn add-new m-2" style="background-color: #0e382e;color: white;border-radius: 6px;">Save changes</button>
                      <button type="button" class="btn add-new m-2" style="background-color: #0e382e;color: white;border-radius: 6px;" onclick="closeEditform(${index})">Cancel</button>
                    </div>
                  </div>
                  <hr>
                </form>                                
              </div>`
              addressContainer.appendChild(addressElement2)
      });
    }
    async function submitDelete(form){
      event.preventDefault()
      try{  
            const button=form.querySelector('button')
            const formData=new FormData(form)
            const response=await fetch('/saveAddress',{
                    method:"POST",
                    body:formData
                })
            if(response.ok){
              const result=await response.json()
              renderAddresses(result.addresses)
              const cancelButton = form.querySelector('button[data-dismiss="modal"]');
              cancelButton.click();
            }
               
        }catch(err){
            console.log(err.message)
        }
    }
    
    function showEditform(formNumber){
      const selectedForm=document.getElementById("editAddressForm"+formNumber)
      selectedForm.classList.remove("d-none")
      const editingAddress=document.getElementById('editingAddress'+formNumber)
      editingAddress.classList.add("d-none")
    }

    function closeEditform(formNumber){
      const selectedForm=document.getElementById("editAddressForm"+formNumber)
      selectedForm.classList.add("d-none")
      const editingAddress=document.getElementById('editingAddress'+formNumber)
      editingAddress.classList.remove("d-none")
    }

    async function submitEdit(form){
      event.preventDefault()
      let formdata= new FormData(form)
      const saveButton=form.querySelector('button[type="submit"]')
      try{
        const response= await fetch('/saveAddress',{
        method:"POST",
        body:formdata
      })
          if(response.ok){
            const result=await response.json()
            saveButton.innerText = 'Address Saved'
            saveButton.disabled=true                       
            setTimeout(()=>{
              saveButton.innerText = 'Save changes'
              saveButton.disabled=false
              renderAddresses(result.addresses)
            },500)
          }
        
      }catch(err){
        console.log(err.message)
      }

    }


    ////////////////////////////////////Payment selection/////////////////////////////   
 
    const walletUse = orderDetails.querySelector('[name="walletUse"]');
    var checkbox = document.getElementById('walletUse');
    checkbox.addEventListener('change', function () {
        if (this.checked) {
            walletUse.value=1
        } else {
            walletUse.value=0
        }
    });


   function payment(button){
    orderDetails.querySelector('[name="paymentMethod"]').value=button.value
   }

  document.getElementById('orderDetails').addEventListener('submit', async (event) => {
  event.preventDefault();
  const status=validation()
  if(status){
    orderDetails.querySelector('[name="paymentMethod"]')
    const formdata = new FormData(document.getElementById('orderDetails'));
  try {
    const response = await fetch('/placeOrder', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(Object.fromEntries(formdata.entries()))
    });
    if (response.ok) {
      const result = await response.json();
      if (result.message=="orderSuccess") {
        const container = document.getElementById('checkout');
        container.innerHTML=`<div class="row">
        <div class="col-md-12 text-center pt-5">
          <span class="display-3 thankyou-icon text-primary">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-check mb-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M11.354 5.646a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708 0z"/>
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </span>
          <h2 class="display-3 text-black">Thank you!</h2>
          <p class="lead mb-5">You order was successfuly completed.</p>
          <p><a href="/" class="btn btn-sm btn-outline-black">Back to shop</a></p>
        </div>
      </div>`
    
    }else if(result.message=="onlinePayment"){
  console.log(response)
  console.log("Result:", result); // Log the result object here
  console.log(result.order); // Move the console.log here
  var options = {
    "key": "rzp_test_xrmbIgOpuVioVc", // Enter the Key ID generated from the Dashboard
    "amount": result.order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "FloraFusion", //your business name
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id":  result.order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){

        verifyPayment(response,result.order)
    },
    "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information, especially their phone number
            "name": "<%=userData.name%>", 
            "email": "<%=userData.email%>", 
            "contact": "<%=userData.mobile%>" 
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#083b3b"
    }
};
  var rzp1 = new Razorpay(options); // corrected variable name to rzp1
  rzp1.open(); // corrected method call
}
   
    }
  } catch (error) {
    console.error('Error:', error);
  }
}
});


async function verifyPayment(payment, order) {
  const response = await fetch('/verifyPayment', {
        method: 'POST',
        headers: { 
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            payment,
            order
        })
    })

    if(response.ok){
      const result = await response.json();
      if (result.message=="orderSuccess") {
        const container = document.getElementById('checkout');
        container.innerHTML=`<div class="row">
        <div class="col-md-12 text-center pt-5">
          <span class="display-3 thankyou-icon text-primary">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-check mb-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M11.354 5.646a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708 0z"/>
              <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
          </span>
          <h2 class="display-3 text-black">Thank you!</h2>
          <p class="lead mb-5">You order was successfuly completed.</p>
          <p><a href="/" class="btn btn-sm btn-outline-black">Back to shop</a></p>
        </div>
      </div>`
    
    }else if(result.message == "paymentFailed"){
      console.log("HII")
      showPopup('Your Payment is Failed, Please check')
    }
}
}


</script>
<%- include('../Layouts/footer.ejs') %>